<div class="relative">
  <button 
    type="button" 
    (click)="toggleDropdown($event)"
    [class]="getButtonClasses()"
    [disabled]="disabled">
    <span class="truncate">
      {{ getDisplayText() }}
    </span>
    <i class="fas fa-chevron-down text-gray-400 text-xs transition-transform duration-200" 
       [class.rotate-180]="isOpen"></i>
  </button>
  
  <!-- Custom Dropdown Menu -->
  <div 
    *ngIf="isOpen" 
    [class]="getDropdownClasses()">
    <div class="p-1">
      <div *ngFor="let option of options" 
           [class]="getOptionClasses()"
           [class.opacity-50]="isDisabled(option)"
           [class.cursor-not-allowed]="isDisabled(option)"
           (click)="toggleSelection(option, $event)">
        
        <input 
          *ngIf="multiple"
          type="checkbox" 
          [checked]="isSelected(option)"
          [disabled]="isDisabled(option)"
          class="mr-2 h-3 w-3 text-teal-600 focus:ring-teal-500 border-gray-300 rounded"
          (click)="$event.stopPropagation()">
        
        <span class="text-xs text-gray-700">{{ option.label }}</span>
      </div>
    </div>
  </div>
</div>