
  <!-- Chart box only shows when showCharts is false -->
  <div class="example-box"   (click)="handleClick($event)" cdkDrag>



    <!-- Close button -->
    <button class="close-button" title="Close" (click)="onDeleteFromChild()">×</button>


    <!-- Chart container -->
    <div class="bar-chart-wrapper" cdkDragHandle>
      <h3 style="margin: 0px 0px 0px 5px;">
        Clustered Column Chart
      </h3>
      <div class="chart-body" #chartContainer></div>
    </div>

    <!-- Optional resize handle (if using resizable) -->
    <div class="resizer"></div>
  </div>
